@charset "utf-8"; 

/***********************************************************
 * 파일명      : main.css
 * 설명        : 
 * 작성자      : 이은경
***********************************************************/

#mvisual {background:url(../images/Main_vbg.jpg) repeat-x; width:100%; height:250px;}

#mWrap { margin-top:20px; background:url(../images/Main_limage.jpg) no-repeat; width:1000px;}
#mWrap .box {float:left; vertical-align:top; }
#mWrap .box  #top {background:url(../images/main_board_t.gif) no-repeat; width:395px; height:26px;}
#mWrap .box  #top .title {font:11px tahoma, AppleGothic, Sans-serif; color:#333333; font-weight:bold; padding:7px 0 0 10px;}
#mWrap .box  #top .more {text-align:right; padding:12px 10px 0 0;}
#mWrap .box  .bg	{background:url(../images/main_board_bg.gif)  repeat-y; width:395px; padding:20px 20px 0px 20px; height:190px;}
#mWrap .box  .bot {background:url(../images/main_board_b.gif) no-repeat; width:395px; height:10px;}






.day {color:#537fb5; font:11px tahoma, AppleGothic, Sans-serif;}

.name {color:#666666; font:11px tahoma, AppleGothic, Sans-serif; font-weight:bold; text-align:right;}
.name a:link, a:active, a:focus{text-decoration:none; color:#666666}
.name a:hover {text-decoration:underline; color:#666666}

.story {font:11px tahoma, AppleGothic, Sans-serif; color:#666666; padding-top:5px; text-align:justify; line-height:14px; word-wrap:break-word; width:350px}
.story a:link, a:active, a:focus{text-decoration:none; color:#666666}
.story a:hover {text-decoration:underline; color:#666666}

.question {font:11px tahoma, AppleGothic, Sans-serif; color:#666666; text-align:justify; line-height:14px;}
.question a:link, a:active, a:focus{text-decoration:none; color:#666666}
.question a:hover {text-decoration:underline; color:#666666}

.answer {font:11px tahoma, AppleGothic, Sans-serif; color:#666666; text-align:justify; line-height:14px; background-color:#e3e3e3; padding:10px 15px 15px 15px;}
.answer a:link, a:active, a:focus{text-decoration:none; color:#666666}
.answer a:hover {text-decoration:underline; color:#666666}


